<script>
$(document).ready(function(){

  // Set trigger and container variables
  var trigger = $('#nav_api li a'),
  container = $('#show_content');

  // Fire on click
  trigger.on('click', function(){
    // Set $this for re-use. Set target from data attribute
    var $this = $(this),
    target = $this.data('target');

    //$(this).addClass('active').siblings().removeClass('active');

    // Load target page into container
    container.load('admin/data/' + target + '.ejs');

    // Stop normal link behavior
    return false;
  });
});

</script>
<div class="row mb-4">
  <div class="col-md-4 text-right" style="padding: .5em">
    <span class="badge badge-danger">100</span>
    <span>requêtes restantes</span>
  </div>
  <div class="col-md-4" id="nav_api">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" data-target="teams">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-target="competitions">Compétition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-target="games">Match</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h2 class="text-danger">Consignes</h2>
      </div>
      <div class="card-body">
        <ul class="text-danger text-justify pl-3 pr-3">
          <li class="mb-4">Le badge en haut affiche le nombre de requêtes restantes pour le mois à l'api.</li>
          <li class="mb-4">Le badge en haut affiche le nombre de requêtes restantes pour le mois à l'api.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8" id="show_content">

  </div>

</div>
</div>
