<div class="row">

  <div class="col-md-4">
    <div class="card card-green mb-4">
      <div class=" card-header card-title text-center">
         <script>
          $(document).ready(function(){
            var socket = io.connect('http://localhost:8080');
            socket.on('getUsername', function(data){
              $('#name').print(data);
            })
          })
         </script>
        <h2 id="name"></h2>
      </div>

      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Prénom</dt>
          <dd class="col-sm-8">Marc</dd>

          <dt class="col-sm-4">Nom</dt>
          <dd class="col-sm-8">Vachon</dd>

          <dt class="col-sm-4">Email</dt>
          <dd class="col-sm-8">vachon.marc@outlook.com</dd>
          <hr/>
          <dt class="col-sm-4">Inscription</dt>
          <dd class="col-sm-8">30 août 2018</dd>
        </dl>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-uppercase mt-0"><small>Niveau</small></h6>
            <h2>7</h2>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-uppercase mt-0"><small>XP</small></h6>
            <h2>340</h2>
            <h6 class="text-uppercase mt-0"><small>sur 1200</small></h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-muted text-uppercase mt-0"><small>BB cette année</small></h6>
            <h2>56</h2>
            <span class="badge badge-success"> +7% </span>
            <span class="text-muted">Année dernière</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-muted text-uppercase mt-0"><small>BB total</small></h6>
            <h2>178</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="link-green"><a href="group-list">Mes groupes</a></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-muted text-uppercase mt-0"><small>Ratio p/m</small></h6>
            <h2>1.15</h2>
            <span class="badge badge-success">32</span>
            <span class="text-muted">ème mondial</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-lil-stat">
          <div class="card-body">
            <h6 class="text-muted text-uppercase mt-0"><small>Classement </small></h6>
            <h2>1er</h2>
            <span class="badge badge-success"></span>
            <span class="text-muted">mondial</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md">
    <div class="row mb-4">
      <div class="col-md">
        <div class="dropdown float-right">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            2018/2019
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h2>Difference</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h2>Win</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h2>Loses</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md">
        <div class="card">
          <div class="card-body">

            <h4 class="d-inline-block">Mes derniers BinchBet</h4>
            <button type="button" class="btn btn-default float-right" onclick="location.href='bet-list'">Tout afficher</button>
            <table class="table table-bordered mt-4 mb-0">
              <thead>
                <tr>
                  <th scope="col">Championnat</th>
                  <th scope="col" class="text-center">Date</th>
                  <th scope="col">Domicile</th>
                  <th scope="col" class="text-center">Score</th>
                  <th scope="col" class="text-right">Extérieur</th>
                  <th scope="col" class="text-center">Mon BB</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Serie A</td>
                  <td class="text-center">31.08.2018</td>
                  <td>Milan AC</td>
                  <td class="text-center">2 – 1</td>
                  <td class="text-right">AS Rome</td>
                  <td class="text-center">2 – 1</td>
                </tr>
                <tr>
                  <td>Premier League</td>
                  <td class="text-center">27.08.2018</td>
                  <td>Manchester United</td>
                  <td class="text-center">0 – 3</td>
                  <td class="text-right">Tottenham</td>
                  <td class="text-center">2 – 3</td>
                </tr>
                <tr>
                  <td>Liga</td>
                  <td rowspan="2" class="text-center">26.08.2018</td>
                  <td>Séville</td>
                  <td class="text-center">0 – 0</td>
                  <td class="text-right">Villareal</td>
                  <td class="text-center">3 – 1</td>
                </tr>
                <tr>
                  <td>Bundesliga</td>
                  <td>B. Dortmund</td>
                  <td class="text-center">3 – 1</td>
                  <td class="text-right">RB Leipzig</td>
                  <td class="text-center">2 – 1</td>
                </tr>
                <tr>
                  <td>Serie A</td>
                  <td class="text-center">25.08.2018</td>
                  <td>Naples</td>
                  <td class="text-center">3 – 2</td>
                  <td class="text-right">Milan AC</td>
                  <td class="text-center">0 – 1</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
