<!DOCTYPE html>
<html>
<head>
  <%- include('../includes/head.inc.ejs') %>

  <title>BinchBet | Home</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card mt-5 pt-5">
          <div class="card-header text-center">
              <img src="account/logo.png" alt="..." height="72" width="72">
              <h1 class="title">BinchBet</h1>
          </div>
          <div class="card-body">
            <form action="/login" method="POST" class="form-signin">


              <div class="form-label-group mb-4">
                <label for="inputUsername">Username</label>
                <input type="text" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
              </div>

              <div class="form-label-group mb-4">
                <label for="inputPassword">Password</label>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-default btn-block" type="submit" id="btn" style="width: 150px; margin: auto;">Sign in</button>
              <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
