<script>
$(document).ready(function () {

  $("#register_form input").focus(function () {
    $("#status").fadeOut(800);
  });

  $("#pseudo").focusout(function () {
    //On vérifie si le pseudo est ok ou n'a pas été déjà pris
    check_pseudo();
  });

  $("#pass1").keyup(function () {
    //On vérifie si le mot de passe est ok
    if ($(this).val().length < 6) {
      $("#output_pass1").css("color", "red").html("<br/>Trop court (6 caractères minimum)");
    } else if ($("#pass2").val() != "" && $("#pass2").val() != $("#pass1").val()) {
      $("#output_pass1").html("<br/>Les deux mots de passe sont différents");
      $("#output_pass2").html("<br/>Les deux mots de passe sont différents");
    } else {
      $("#output_pass1").html('<img src="img/check.png" class="small_image" alt="" />');
    }
  });

  $("#pass2").focusout(function () {
    //On vérifie si les mots de passe coïncident
    check_password();
  });

  $("#email").focusout(function () {
    //On vérifie si les mots de passe coïncident
    check_email();
  });

  function check_pseudo() {
    $.ajax({
      type: "post",
      url: "includes/register.php",
      data: {
        pseudo_check: $("#pseudo").val()
      },
      success: function (data) {
        if (data == 'Success') {
          // Le membre est connecté. Ajoutons lui un message dans la page HTML.
          $("#alert").html("<div class='alert alert-success' role='alert'><p>Le pseudo est correct !</p></div>");
        } else {
          $("#alert").html("<div class='alert alert-danger' role='alert'><p>" + data + "</p></div>");
        }
      }
    });
  }

  function check_password() {
    $.ajax({
      type: "post",
      url: "includes/register.php",
      data: {
        'pass1_check': $("#pass1").val(),
        'pass2_check': $("#pass2").val()
      },
      success: function (data) {
        if (data == "Success") {
          $("#alert2").html("<div class='alert alert-success' role='alert'><p>Le mot de passe est correct !</p></div>");
        } else {
          $("#alert2").html("<div class='alert alert-danger' role='alert'><p>" + data + "</p></div>");
        }
      }
    });
  }

  function check_email() {
    $.ajax({
      type: "post",
      url: "includes/register.php",
      data: {
        'email_check': $("#email").val()
      },
      success: function (data) {
        if (data == "success") {
          $("#output_email").html('<img src="img/check.png" class="small_image" alt="" />');
        } else {
          $("#output_email").css("color", "red").html(data);
        }
      }
    });
  }

  //Traitement du formulaire d'inscription
  $("#register_form").submit(function () {
    var status = $("#status");
    var nom = $("#nom").val();
    var prenom = $("#prenom").val();
    var pseudo = $("#pseudo").val();
    var pass1 = $("#pass1").val();
    var pass2 = $("#pass2").val();
    var email = $("#email").val();
    if (nom == "" || prenom == "" || pseudo == "" || pass1 == "" || pass2 == "" || email == "") {
      status.html("Veuillez remplir tous les champs").fadeIn(400);
    } else if (pass1 != pass2) {
      status.html("Les deux mots de passe sont différents").fadeIn(400);
    } else {
      $.ajax({
        type: "post",
        url: "register.php",
        data: {
          'nom': nom,
          'prenom': prenom,
          'pseudo': pseudo,
          'pass1': pass1,
          'pass2': pass2,
          'email': email,
        },
        beforeSend: function () {
          $("#bRegister").attr("value", "Traitement en cours...");
        },
        success: function (data) {
          if (data != "register_success") {
            status.html(data).fadeIn(400);
            $("#bRegister").attr("value", "Inscription");
            $("#bRegister").addClass("btn-primary").css("color", "white");
          } else {
            $("#presentation").hide();
            $("#connexion h1").html("Connexion");
            $("#inscription").html("<strong>Juste une dernière étape " + prenom + " " + nom + " !</strong><br/>Un lien d'activation de votre compte vient de vous être envoyé à l'adresse électronique indiquée lors de l'inscription.<br/>Veuillez tout simplement cliquer ce lien et vous serez définitivement membre du <strong>TDN SOCIAL NETWORK</strong>.<br/><em>(Pensez à vérifier vos spams ou courriers indésirables, si vous ne voyez pas ce mail dans votre boîte de réception)</em><br/><br/>Une fois que ceci est fait, vous n'aurez plus qu'à vous connecter!<br/>Alors, on se dit à très bientôt ;) !").css("width", "inherit").fadeIn(400);
          }
        }
      });
    }
  });

  $("#login_form").submit(function () {
    var pseudo = $("#login").val();
    var pass = $("#mdp").val();
    var status = $("#status2");

    if (pseudo == "" || pass == "") {
      status.html("Veuillez remplir tous les champs.").fadeIn(400);
    } else {
      $.ajax({
        type: 'post',
        url: "login.php",
        data: {
          'pseudo': pseudo,
          'pass': pass
        },
        beforeSend: function () {
          status.html("Connexion en cours...").fadeIn(400);
        },
        success: function (data) {
          if (data == "login_failed") {
            status.html("Pseudo/mot de passe invalide !").fadeIn(400);
          } else {
            window.location = "profile.php";
          }
        }
      });
    }
  });
});
</script>

<div id="alert">

</div>
<div id="alert2">

</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h2 class="title">Inscription</h2>
      </div>
      <div class="card-body pl-5 pr-5">
        <form>
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="email" class="form-control" id="username" placeholder="Entrer un nom d'utilisateur">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse email</label>
            <input type="email" class="form-control" id="email" placeholder="Entrer  l'email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="pwd1">Password</label>
            <input type="password" class="form-control mb-4" id="pwd1" placeholder="Entrer un mot de passe">
            <input type="password" class="form-control" id="pwd2" placeholder="">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-default float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
