<nav class="nav flex-column col-md-3" id="sidebar">
  <div class="sidebar-title">
    <h3>BinchBet<br>Sidebar</h3>
  </div>

  <div class=sidebar-header>
    <p class="m-0">Section page</p>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="bet">Bet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="fetch">FetchMEx</a>
    </li>
  </ul>

  <div class=sidebar-header>
    <p class="m-0">Compte</p>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="login">Connexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registration">Inscription</a>
    </li>
  </ul>
</nav>
