<nav class="nav flex-column">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="login">Connexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registration">Inscription</a>
    </li>
  </ul>
</nav>
