<nav class="nav flex-column col-md-3" id="sidebar">
  <div class="sidebar-header">
    <h2>BinchBet</h2>
  </div>

  <div class="sidebar-title">
    <p class="m-0">Section page</p>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="bet">Bet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="fetch">FetchMEx</a>
    </li>
  </ul>

  <div class="sidebar-title">
    <p class="m-0">Compte</p>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="account">Mon compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login">Connexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registration">Inscription</a>
    </li>
  </ul>

  <footer class="sidebar-footer text-left">
    <p>L'équipe BinchBet vous remercie d'utiliser leur application.</p>
      <p><small>L'abus d'alcool est dangereux pour la santé.</small></p>
  </footer>
</nav>
