/nbproject/private/

$ git status :

# Untracked files:

#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o

$ cat .git/info/exclude
# ignore objects and archives, anywhere in the tree.

# Folder:
node_modules/

# Files :
*.DS_Store
package-lock.json
