<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <script>
  $(document).ready(function () {
    var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

    var chPie = document.getElementById("chPie");
    if (chPie) {
      new Chart(chPie, {
        type: 'pie',
        data: {
          labels: ['Desktop', 'Phone', 'Tablet', 'Unknown'],
          datasets: [
            {
              backgroundColor: [colors[1],colors[0],colors[2],colors[5]],
              borderWidth: 0,
              data: [50, 40, 15, 5]
            }
          ]
        },
        plugins: [{
          beforeDraw: function(chart) {
            var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;
            ctx.restore();
            var fontSize = (height / 70).toFixed(2);
            ctx.font = fontSize + "em sans-serif";
            ctx.textBaseline = "middle";
            var text = chart.config.data.datasets[0].data[0] + "%",
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 2;
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }],
        options: {layout:{padding:0}, legend:{display:false}, cutoutPercentage: 80}
      });
    }
  });
  </script>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <div class="row">
        <div class="col-md">
          <h4 class="d-inline-block">Profil</h4>
          <nav aria-label="breadcrumb" class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">

          <div class="row mb-4">
            <div class="card card-profile">
              <div class="card-title text-center">
                <h2>Kemar</h2>
              </div>

              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-6">Prénom</dt>
                  <dd class="col-sm-6">Marc</dd>

                  <dt class="col-sm-6">Nom</dt>
                  <dd class="col-sm-6">Vachon</dd>

                  <dt class="col-sm-6">Email</dt>
                  <dd class="col-sm-6">vachon.marc@outlook.com</dd>
                  <hr/>
                  <dt class="col-sm-6">Date d'inscription</dt>
                  <dd class="col-sm-6">30 août 2018</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pl-0 mb-4">
              <div class="card card-lil-stat">
                <div class="card-body">
                  <h6 class="text-uppercase mt-0"><small>Niveau</small></h6>
                  <h2>7</h2>
                </div>
              </div>
            </div>

            <div class="col-md-6 pr-0 mb-4">
              <div class="card card-lil-stat">
                <div class="card-body">
                  <h6 class="text-uppercase mt-0"><small>XP</small></h6>
                  <h2>340</h2>
                  <h6 class="text-uppercase mt-0"><small>sur 1200</small></h6>
                </div>
              </div>
            </div>

            <div class="col-md-6 pl-0 mb-4">
              <div class="card card-lil-stat">
                <div class="card-body">
                  <h6 class="text-muted text-uppercase mt-0"><small>BB cette année</small></h6>
                  <h2>56</h2>
                  <span class="badge badge-success"> +7% </span>
                  <span class="text-muted">Année dernière</span>
                </div>
              </div>
            </div>

            <div class="col-md-6 pr-0 mb-4">
              <div class="card card-lil-stat">
                <div class="card-body">
                  <h6 class="text-muted text-uppercase mt-0"><small>BB total</small></h6>
                  <h2>178</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 pl-0 pr-0">
              <div class="card">
                <div class="card-body">
                  <h2><a href="#">Mes groupes</a></h2>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md">
          <div class="row mb-4">
            <div class="col-md">
              <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2018/2019
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="col-md-4 py-1">
                    <div class="card">
                      <div class="card-body">
                        <canvas id="chDonut1"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2>Difference</h2>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2>Win</h2>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h2>Loses</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md">
              <div class="card">
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md">
              <div class="card">
                <div class="card-body">

                  <h4 class="d-inline-block">Mes derniers BinchBet</h4>
                  <button type="button" class="btn btn-default float-right">Tout afficher</button>
                  <table class="table table-bordered mt-4 mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Championnat</th>
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col">Domicile</th>
                        <th scope="col" class="text-center">Score</th>
                        <th scope="col" class="text-right">Extérieur</th>
                        <th scope="col" class="text-center">Mon BB</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Serie A</td>
                        <td class="text-center">31.08.2018</td>
                        <td>Milan AC</td>
                        <td class="text-center">2 – 1</td>
                        <td class="text-right">AS Rome</td>
                        <td class="text-center">2 – 1</td>
                      </tr>
                      <tr>
                        <td>Premier League</td>
                        <td class="text-center">27.08.2018</td>
                        <td>Manchester United</td>
                        <td class="text-center">0 – 3</td>
                        <td class="text-right">Tottenham</td>
                        <td class="text-center">2 – 3</td>
                      </tr>
                      <tr>
                        <td>Liga</td>
                        <td rowspan="2" class="text-center">26.08.2018</td>
                        <td>Séville</td>
                        <td class="text-center">0 – 0</td>
                        <td class="text-right">Villareal</td>
                        <td class="text-center">3 – 1</td>
                      </tr>
                      <tr>
                        <td>Bundesliga</td>
                        <td>B. Dortmund</td>
                        <td class="text-center">3 – 1</td>
                        <td class="text-right">RB Leipzig</td>
                        <td class="text-center">2 – 1</td>
                      </tr>
                      <tr>
                        <td>Serie A</td>
                        <td class="text-center">25.08.2018</td>
                        <td>Naples</td>
                        <td class="text-center">3 – 2</td>
                        <td class="text-right">Milan AC</td>
                        <td class="text-center">0 – 1</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>

  </main>
</body>
</html>
