
<div class="row">
  <div class="col-md">
    <h4 class="d-inline-block">Mes paris</h4>
    <nav aria-label="breadcrumb" class="float-right">
      <ol class="breadcrumb pr-0">
        <li class="breadcrumb-item"><a href="index">Binchbet</a></li>
        <li class="breadcrumb-item"><a href="index">Paris</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mes paris</li>
      </ol>
    </nav>
  </div>
</div>


<div class="row mb-4">
  <div class="col-md">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tout
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-body">

        <h4 class="d-inline-block">Septembre</h4>
        <button type="button" class="btn btn-default float-right">Tout afficher</button>
        <table class="table table-bordered mt-4 mb-0">
          <thead>
            <tr>
              <th scope="col">Championnat</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Domicile</th>
              <th scope="col" class="text-center">Score</th>
              <th scope="col" class="text-right">Extérieur</th>
              <th scope="col" class="text-center">Mon BB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Serie A</td>
              <td class="text-center">31.08.2018</td>
              <td>Milan AC</td>
              <td class="text-center">2 – 1</td>
              <td class="text-right">AS Rome</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Premier League</td>
              <td class="text-center">27.08.2018</td>
              <td>Manchester United</td>
              <td class="text-center">0 – 3</td>
              <td class="text-right">Tottenham</td>
              <td class="text-center">2 – 3</td>
            </tr>
            <tr>
              <td>Liga</td>
              <td rowspan="2" class="text-center">26.08.2018</td>
              <td>Séville</td>
              <td class="text-center">0 – 0</td>
              <td class="text-right">Villareal</td>
              <td class="text-center">3 – 1</td>
            </tr>
            <tr>
              <td>Bundesliga</td>
              <td>B. Dortmund</td>
              <td class="text-center">3 – 1</td>
              <td class="text-right">RB Leipzig</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Serie A</td>
              <td class="text-center">25.08.2018</td>
              <td>Naples</td>
              <td class="text-center">3 – 2</td>
              <td class="text-right">Milan AC</td>
              <td class="text-center">0 – 1</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="card">
      <div class="card-body">

        <h4 class="d-inline-block">Août</h4>
        <table class="table table-bordered mt-4 mb-0">
          <thead>
            <tr>
              <th scope="col">Championnat</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Domicile</th>
              <th scope="col" class="text-center">Score</th>
              <th scope="col" class="text-right">Extérieur</th>
              <th scope="col" class="text-center">Mon BB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Serie A</td>
              <td class="text-center">31.08.2018</td>
              <td>Milan AC</td>
              <td class="text-center">2 – 1</td>
              <td class="text-right">AS Rome</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Premier League</td>
              <td class="text-center">27.08.2018</td>
              <td>Manchester United</td>
              <td class="text-center">0 – 3</td>
              <td class="text-right">Tottenham</td>
              <td class="text-center">2 – 3</td>
            </tr>
            <tr>
              <td>Liga</td>
              <td rowspan="2" class="text-center">26.08.2018</td>
              <td>Séville</td>
              <td class="text-center">0 – 0</td>
              <td class="text-right">Villareal</td>
              <td class="text-center">3 – 1</td>
            </tr>
            <tr>
              <td>Bundesliga</td>
              <td>B. Dortmund</td>
              <td class="text-center">3 – 1</td>
              <td class="text-right">RB Leipzig</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Serie A</td>
              <td class="text-center">25.08.2018</td>
              <td>Naples</td>
              <td class="text-center">3 – 2</td>
              <td class="text-right">Milan AC</td>
              <td class="text-center">0 – 1</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
