<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <h2>Septembre</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Championnat</th>
            <th scope="col">Date</th>
            <th scope="col">Domicile</th>
            <th scope="col">Score</th>
            <th scope="col">Extérieur</th>
            <th scope="col">Mon paris</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Premier League</td>
            <td rowspan="2">30/08/2018</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
          </tr>
          <tr>
            <td>Serie A</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h2>Août</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Championnat</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col">Domicile</th>
            <th scope="col" class="text-center">Score</th>
            <th scope="col" class="text-right">Extérieur</th>
            <th scope="col" class="text-center">Mon BB</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Serie A</td>
            <td class="text-center">31.08.2018</td>
            <td>Milan AC</td>
            <td class="text-center"></td>
            <td class="text-right">AS Rome</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td>Premier League</td>
            <td class="text-center">27.08.2018</td>
            <td>Manchester United</td>
            <td class="text-center">0 – 3</td>
            <td class="text-right">Tottenham</td>
            <td class="text-center">2 – 3</td>
          </tr>
          <tr>
            <td>Liga</td>
            <td rowspan="2" class="text-center">26.08.2018</td>
            <td>Séville</td>
            <td class="text-center">0 – 0</td>
            <td class="text-right">Villareal</td>
            <td class="text-center">3 – 1</td>
          </tr>
          <tr>
            <td>Bundesliga</td>
            <td>B. Dortmund</td>
            <td class="text-center">3 – 1</td>
            <td class="text-right">RB Leipzig</td>
            <td class="text-center">2 – 1</td>
          </tr>
          <tr>
            <td>Serie A</td>
            <td class="text-center">25.08.2018</td>
            <td>Naples</td>
            <td class="text-center">3 – 2</td>
            <td class="text-right">Milan AC</td>
            <td class="text-center">0 – 1</td>
          </tr>
        </tbody>
      </table>
      
    </section>

  </main>
</body>
</html>
