<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section class="content">
      <script>

        // const https = ("https");
        // const options = {
        //   hostname: 'api.sportradar.us',
        //   port: 443,
        //   path: '/soccer-t3/eu/fr/tournaments/sr:tournament:8/standings.json?api_key=myjru2suj5mcbs7fjduvxx2f',
        //   method: 'GET'
        // };
        //
        // const req = https.request(options, (res) => {
        //   console.log('statusCode:', res.statusCode);
        //   console.log('headers:', res.headers);
        //
        //   res.on('data', (d) => {
        //     process.stdout.write(d);
        //   var data = JSON.parse(d);
        //   });
        // });
        //
        // req.on('error', (e) => {
        //   console.error(e);
        // });
        // req.end();
        $(document).ready(function () {

        $.getJSON("https://api.sportradar.us/soccer-t3/eu/fr/tournaments/sr:tournament:8/standings.json?api_key=myjru2suj5mcbs7fjduvxx2f", function(data) {
          console.log(data);
                var items = data.items.map(function (item) {
                  return item.key + ': ' + item.value;
                });
        });
      });
            //var items = [];
  //         $.each( data, function( key, val ) {
  //           items.push( "<li id='" + key + "'>" + val + "</li>" );
  //         });
  //
  //         $( "<ul/>", {
  //           "class": "my-new-list", html: items.join( "" )
  //         }).appendTo( "section" );
  //       });
  // });

  //  'https://api.sportradar.us/soccer-t3/eu/fr/tournaments/sr:tournament:8/standings.json?api_key=myjru2suj5mcbs7fjduvxx2f'
  </script>
    </section>

  </main>
</body>
</html>
