<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">

      <div class="row mb-4">
        <div class="col-md-3">
          <div class="card card-lil-stat">
            <div class="card-body">
              <h2 class="text-truncate">Mondial</h2>
              <h6 class="text-muted text-uppercase"><small>13 participants</small></h6>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-lil-stat">
            <div class="card-body">
              <h6 class="text-muted text-uppercase mt-0"><small>Classment</small></h6>
              <h2>3</h2>
              <span class="badge badge-success"> 19 </span>
              <span class="text-muted">Points</span>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card card-lil-stat">
            <div class="card-body">
              <ul class="nav">
                <li class="nav-item">
                  <h2>17</h2>
                  <h6 class="text-muted text-uppercase"><small>match(s)</small></h6>
                </li>
                <li class="nav-item">
                  <h2>1</h2>
                  <h6 class="text-muted text-uppercase"><small>Parfait</small></h6>
                </li>
                <li class="nav-item">
                  <h2>3</h2>
                  <h6 class="text-muted text-uppercase"><small>Différence</small></h6>
                </li>
                <li class="nav-item">
                  <h2>10</h2>
                  <h6 class="text-muted text-uppercase"><small>Gagné</small></h6>
                </li>
                <li class="nav-item">
                  <h2>3</h2>
                  <h6 class="text-muted text-uppercase"><small>Perdu</small></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3">
          <div class="card card-lil-stat">
            <div class="card-body">
              <h2 class="text-truncate">Coucou les amis</h2>
              <h6 class="text-muted text-uppercase"><small>13 participants</small></h6>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card card-lil-stat">
            <div class="card-body">
              <h6 class="text-muted text-uppercase mt-0"><small>Classement</small></h6>
              <h2>3</h2>
              <h6 class="text-muted text-uppercase"><small>19 points</small></h6>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card card-lil-stat">
            <div class="card-body">
              <ul class="nav">
                <li class="nav-item">
                  <h2>17</h2>
                  <h6 class="text-muted text-uppercase"><small>match(s)</small></h6>
                </li>
                <li class="nav-item">
                  <h2>1</h2>
                  <h6 class="text-muted text-uppercase"><small>Parfait</small></h6>
                </li>
                <li class="nav-item">
                  <h2>3</h2>
                  <h6 class="text-muted text-uppercase"><small>Différence</small></h6>
                </li>
                <li class="nav-item">
                  <h2>10</h2>
                  <h6 class="text-muted text-uppercase"><small>Gagné</small></h6>
                </li>
                <li class="nav-item">
                  <h2>3</h2>
                  <h6 class="text-muted text-uppercase"><small>Perdu</small></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
</body>
</html>
