<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="mb-5">Attribution des points</h2>
        <div class="row">
          <div class="col-sm-6">
            <h6 class="text-muted text-uppercase mt-0">Score parfait</h6>
            <h2>+3</h2>
          </div>
          <div class="col-sm-6">
            <h6 class="text-muted text-uppercase mt-0">Différence</h6>
            <h2>+2</h2>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-6">
            <h6 class="text-muted text-uppercase mt-0">Equipe gagnante</h6>
            <h2>+1</h2>
          </div>
          <div class="col-sm-6">
            <h6 class="text-muted text-uppercase mt-0">Mauvais score</h6>
            <h2>+0</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="mb-5">Fonctionnement global</h2>
        <h5>En général</h5>
        <p class="text-justify">BinchBet est une application de paris sur des matchs de foot. Chaque utilisateurs peut parier sur les matchs qu'il souhaite. Il peut ensuite choisir de créer ou de rejoindre un groupe contenant d'autre utilisateurs.</p>

        <h5 class="mt-5">Les paris</h5>
        <p class="text-justify">Chaque utilisateur a ses propres stats et ses propres matchs. Dans l'onglet paris vous avez accès à tous les matchs pour parier. Par défaut les filtres n'affichent que les matchs contenus dans tous les</p>

        <h5 class="mt-5">Les groupes</h5>
        <p class="text-justify"></p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="title mb-2">Questions / Réponses</h2>
        <h6 class="subtitle mt-0 mb-4">Quelques questions fréquements posées.</h6>
        <hr class="space"/>
        <h4>Paris</h4>
        <dl>
          <dt class="mb-4">Qu'est-ce qu'un groupe ?</dt>
          <dd class="mb-4"></dd>
        </dl>
        <hr class="space"/>
        <h4>Groupes</h4>
        <dl>
          <dt class="mb-4">Qu'est-ce qu'un groupe ?</dt>
          <dd class="mb-4"><p class="mb-3">Un groupe est une liste de match. Cette liste de match est partagée avec les autres utilisateurs dans le groupe. Vous pouvez y voir des statistiques par rapport aux autres utilisateurs à l'intérieur de celui-ci.</p>
            <p>Par défaut vous commencez avec le groupe "Mondial", c'est le groupe qui contient tous les utilisateurs du site. Ce groupe ne contient pas tous les matchs disponible, seulement les matchs "Premium".</p></dd>

            <dt class="mb-4">Comment créer un groupe ?</dt>
            <dd class="mb-4">La création de groupe ce trouve dans l'onglet "Groupes". Vous y trouverez un bouton "Ajouter" en haut à droite.</dd>

            <dt class="mb-4">Comment quitter un groupe ?</dt>
            <dd class="mb-4">Tu le quittes pas mon salop.</dd>

            <dt class="mb-4">Est-ce qu'il est possible de parié sur le même match dans 2 groupes différents ?</dt>
            <dd class="mb-4">Non. Chaque paris concerne un seul match. UN groupe permet de mettre en concurrence des utilisateurs sur certains matchs précis, d'avoir un classement et des statistiques entre les différents utilisateurs.</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
