
<script>
function show_news(){
  $('.card-news').css('height: auto;');
};
</script>

<div class="row">
  <div class="col-md-5">
    <div class="card card-green mb-4">
      <div class="card-header pb-0">
        <h6 class="text-muted text-uppercase mt-0"><small>mondial</small></h6>
        <h2>Derniers matchs</h2>
      </div>
      <div class="card-body">
        <ul class="nav row mb-3">
            <li class="nav-item col-md">
              <h6 class="text-muted text-uppercase mt-0"><small>Domicile</small></h6>
              <h4>Milan AC</h4>
            </li>
            <li class="nav-item col-md text-center">
              <h6 class="text-muted text-uppercase mt-0"><small>Score</small></h6>
              <h4>2 – 1</h4>
            </li>
            <li class="nav-item col-md text-right">
              <h6 class="text-muted text-uppercase mt-0"><small>Extérieur</small></h6>
              <h4>AS Roma</h4>
            </li>
        </ul>
        <ul class="nav row">
            <li class="nav-item col-md">
              <h6 class="text-muted text-uppercase mt-0"><small>Domicile</small></h6>
              <h4>Manchester United</h4>
            </li>
            <li class="nav-item col-md text-center">
              <h6 class="text-muted text-uppercase mt-0"><small>Score</small></h6>
              <h4>2 – 1</h4>
            </li>
            <li class="nav-item col-md text-right">
              <h6 class="text-muted text-uppercase mt-0"><small>Extérieur</small></h6>
              <h4>Totteham</h4>
            </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="link-green"><a href="about">A propos</a></h2>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="link-green"><a href="faq">FAQ</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card news-block">
      <div class="card-header">
        <h1 class="title">Bienvenue.</h1>
        <h4 class="subtitle">BinchBet ouvre ses portes, enfin.</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Voici l'ouverture de notre site</p>
        <p class="card-text">
          Fusce ultricies eleifend enim, sit amet posuere ligula aliquam ut. Donec mattis diam quis ex molestie, ut volutpat neque rhoncus. Donec ullamcorper suscipit lorem dapibus ornare. Aliquam erat volutpat. Donec auctor, arcu ut porttitor rhoncus, nulla purus sollicitudin ante, quis faucibus velit ipsum et justo. Quisque at sagittis urna, vitae ultrices libero. Nullam tempor ultricies  velit, eu vehicula turpis aliquet sollicitudin. Morbi nec magna sollicitudin, hendrerit leo vel, pellentesque mi. Aliquam blandit lectus orci, in consectetur dolor dictum non. Sed gravida ipsum vitae ornare tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae nulla pretium, aliquam mi eget, suscipit massa. Etiam molestie, felis eget aliquam maximus, turpis erat porttitor risus, ac aliquam enim tellus sit amet nunc.
        </p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-default float-right" onclick="location.href='http://localhost:8080/newss'">Plus</button>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
</script>
