<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <div class="row">
        <div class="col-md">
          <h4 class="d-inline-block">Accueil</h4>
          <nav aria-label="breadcrumb" class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="index">Home</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <h1>Eh salut je m'appelle Marc</h1>
    </section>

  </main>
</body>
</html>
