
<script>
function show_news(){
  $('.card-news').css('height: auto;');
};
</script>

<div class="row">
  <div class="col-md-5">

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2><a href="help" class="link-green">Règles</a></h2>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2><a href="help" class="link-green">FAQ</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card card-news">
      <div class="card-body">
        <h6 class="text-muted text-uppercase mt-0">Général</h6>
        <h2 class="title">Ouverture du site</h2>
        <h4 class="subtitle mb-4">Salut tout le monde!</h4>
        <p class="card-text">Voici l'ouverture de notre site</p>
        <p class="card-text">
          Fusce ultricies eleifend enim, sit amet posuere ligula aliquam ut. Donec mattis diam quis ex molestie, ut volutpat neque rhoncus. Donec ullamcorper suscipit lorem dapibus ornare. Aliquam erat volutpat. Donec auctor, arcu ut porttitor rhoncus, nulla purus sollicitudin ante, quis faucibus velit ipsum et justo. Quisque at sagittis urna, vitae ultrices libero. Nullam tempor ultricies  velit, eu vehicula turpis aliquet sollicitudin. Morbi nec magna sollicitudin, hendrerit leo vel, pellentesque mi. Aliquam blandit lectus orci, in consectetur dolor dictum non. Sed gravida ipsum vitae ornare tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vitae nulla pretium, aliquam mi eget, suscipit massa. Etiam molestie, felis eget aliquam maximus, turpis erat porttitor risus, ac aliquam enim tellus sit amet nunc.
        </p>
        <button type="button" class="btn btn-default float-right" onclick="location.href='http://localhost:8080/newss'">Plus</button>
      </div>
    </div>
  </div>
</div>
