<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <div class="row">
        <div class="col-md">
          <h4 class="d-inline-block">Page</h4>
          <nav aria-label="breadcrumb" class="float-right">
            <ol class="breadcrumb pr-0">
              <li class="breadcrumb-item"><a href="index">Binchbet</a></li>
              <li class="breadcrumb-item"><a href="group-list">Groups</a></li>
              <li class="breadcrumb-item"><a href="group">Nom du groupe</a></li>
              <li class="breadcrumb-item active" aria-current="page">Paris</li>
            </ol>
          </nav>
        </div>
      </div>

      <!--include the content of the page request
      from server.js-->
      <%- include(page);%>
    </section>

  </main>
</body>
</html>
