<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
  <script>

  'use strict';
    $.ajax({
      url: '/fetch.json',
      complete: function(data) {
        console.log(data);
        for(var i in data.responseJSON.fetch.standings[0].groups[0].team_standings){
          console.log(data.responseJSON.fetch.standings[0].groups[0].team_standings[i].team.name);
            $('#team').append(
            "<td>" + data.responseJSON.fetch.standings[0].groups[0].team_standings[i].team.name + "</td>"
        //    document.getElementById("team").innerHTML = data.responseJSON.fetch.standings[0].groups[0].team_standings[k].team.name;
            );
        }
      }
    });
  </script>

  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
      <tbody id='team'>
      </tbody>
    </section>

  </main>
</body>
</html>
