<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.inc.ejs') %>

  <title>BB - Home page</title>
  <!--
  Au cas ou fdp:

  developer.sportradar.com
  usr : KemarLAPI
  pwd : Binchbet24
-->
</head>
<body>
	<script>

	'use strict';
  $.ajax({
          url: "http://localhost:8080/",  // the local Node server
          method: 'GET',
          success: function(data){
              console.log(data); //display data in cosole to see if I receive it
          }
        });

  </script>

  <main class="container-fluid">
    <%- include('includes/main_nav.inc.ejs'); %>

    <section id="content">
    </section>

  </main>
</body>
</html>
