<div class="row mb-4">
  <div class="col-md">
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Passé
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Groupe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        2018/2019
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Date
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-right mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Equipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-right mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Compétition
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    Tags
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    <h4 class="d-inline-block">Trier par :</h4>
    <div class="dropdown d-inline-block ml-3 mr-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Date
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <button class="btn btn-secondary active">Asc</button>
    <button class="btn btn-secondary">Desc</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md" id="bet-list">
  </div>
</div>
<script>
var monthName = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"];
var month = 0;

socket.emit('getBetByUser', <%- JSON.stringify(user) %>);
socket.emit('getGroupBet', 'KemarLePoulpe', 1);


socket.on('getBetByUser', function(bets){
  bets.forEach(function(bet){

    if(month !== bet.month){
      month = bet.month;
      $('#bet-list').append("<div class=\"card mb-4\">" +
      "<div class=\"card-header pb-0\">" +
      "<h4 class=\"title\">" + monthName[month-1] + "</h4>" +
      "</div>" +
      "<div class=\"card-body\">" +
      "<table class=\"table table-bordered mb-0\">" +
      "<thead>" +
      "<tr>" +
      "<th scope=\"col\">Championnat</th>" +
      "<th scope=\"col\" class=\"text-center\">Date</th>" +
      "<th scope=\"col\">Domicile</th>" +
      "<th scope=\"col\" class=\"text-center\">Score</th>" +
      "<th scope=\"col\" class=\"text-right\">Extérieur</th>" +
      "<th scope=\"col\" class=\"text-center\">Mon BB</th>" +
      "</tr>" +
      "</thead>" +
      "<tbody id='month-"+ month +"'>"+
      "</tbody>"+
      "</table>"+
      "</div>"+
      "</div>");
    }

    $("#month-"+month).append( "<tr onclick=\"location.href='/bet/" + bet.id_game + "'\">" +
    "<td>" + bet.competition + "</td>" +
    "<td class=\"text-center\">" + bet.date + "</td>" +
    "<td>" + bet.h_team + "</td>" +
    "<td class=\"text-center\">" + bet.h_goal + " – " + bet.a_goal + "</td>" +
    "<td class=\"text-right\">" + bet.a_team + "</td>" +
    "<td class=\"text-center\" style=\"width: 150px;\">" +
    "<div class=\"input-group mb-3\" style=\"margin: auto;\">" +
    "<input type=\"text\" class=\"form-control bet\" name=\"bet-h-goal\" id=\"bet1-" + bet.id_game + "\" maxlength=\"2\" value=\"\">" +
    "<input disabled type=\"text\" class=\"form-control text-center p-0\" value=\"—\" style=\"max-width: 30px;\">" +
    "<input type=\"text\" class=\"form-control bet\" name=\"bet-a-goal\" id=\"bet2-" + bet.id_game + "\" maxlength=\"2\" value=\"\">" +
    "</div>"+
    "<button class=\"btn btn-lg btn-default btn-block\" type=\"submit\" id=\"btn\">Bet</button>"+
    "</div>"+
    "</td>" +
    "</tr>");
  });
});

socket.on('getGroupBet', function(groupBet){
  console.log(groupBet);
groupBet.forEach(function(bet){
  if(bet !== undefined){
    $('#bet1-' + bet.id_game).val(bet.h_goal);
    $('#bet2-' + bet.id_game).val(bet.a_goal);
  }
});

});
</script>
