<div class="row mb-4">
  <div class="col-md">
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Passé
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Groupe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-left mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        2018/2019
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Date
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-right mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Equipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <div class="dropdown float-right mr-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Compétition
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    Tags
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    <h4 class="d-inline-block">Trier par :</h4>
    <div class="dropdown d-inline-block ml-3 mr-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Date
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tout</a>
        <a class="dropdown-item" href="#">A venir</a>
        <a class="dropdown-item" href="#">Passé</a>
      </div>
    </div>
    <button class="btn btn-secondary active">Asc</button>
    <button class="btn btn-secondary">Desc</button>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h4 class="title">Septembre</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th scope="col">Championnat</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Domicile</th>
              <th scope="col" class="text-center">Score</th>
              <th scope="col" class="text-right">Extérieur</th>
              <th scope="col" class="text-center">Mon BB</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="location.href='bet'">
              <td>Serie A</td>
              <td class="text-center">31.08.2018</td>
              <td>Milan AC</td>
              <td class="text-center">2 – 1</td>
              <td class="text-right">AS Rome</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Premier League</td>
              <td class="text-center">27.08.2018</td>
              <td>Manchester United</td>
              <td class="text-center">0 – 3</td>
              <td class="text-right">Tottenham</td>
              <td class="text-center">2 – 3</td>
            </tr>
            <tr>
              <td>Liga</td>
              <td rowspan="2" class="text-center">26.08.2018</td>
              <td>Séville</td>
              <td class="text-center">0 – 0</td>
              <td class="text-right">Villareal</td>
              <td class="text-center">3 – 1</td>
            </tr>
            <tr>
              <td>Bundesliga</td>
              <td>B. Dortmund</td>
              <td class="text-center">3 – 1</td>
              <td class="text-right">RB Leipzig</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Serie A</td>
              <td class="text-center">25.08.2018</td>
              <td>Naples</td>
              <td class="text-center">3 – 2</td>
              <td class="text-right">Milan AC</td>
              <td class="text-center">0 – 1</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="card">
      <div class="card-header pb-0">
        <h4 class="title">Août</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th scope="col">Championnat</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Domicile</th>
              <th scope="col" class="text-center">Score</th>
              <th scope="col" class="text-right">Extérieur</th>
              <th scope="col" class="text-center">Mon BB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Serie A</td>
              <td class="text-center">31.08.2018</td>
              <td>Milan AC</td>
              <td class="text-center">2 – 1</td>
              <td class="text-right">AS Rome</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Premier League</td>
              <td class="text-center">27.08.2018</td>
              <td>Manchester United</td>
              <td class="text-center">0 – 3</td>
              <td class="text-right">Tottenham</td>
              <td class="text-center">2 – 3</td>
            </tr>
            <tr>
              <td>Liga</td>
              <td rowspan="2" class="text-center">26.08.2018</td>
              <td>Séville</td>
              <td class="text-center">0 – 0</td>
              <td class="text-right">Villareal</td>
              <td class="text-center">3 – 1</td>
            </tr>
            <tr>
              <td>Bundesliga</td>
              <td>B. Dortmund</td>
              <td class="text-center">3 – 1</td>
              <td class="text-right">RB Leipzig</td>
              <td class="text-center">2 – 1</td>
            </tr>
            <tr>
              <td>Serie A</td>
              <td class="text-center">25.08.2018</td>
              <td>Naples</td>
              <td class="text-center">3 – 2</td>
              <td class="text-right">Milan AC</td>
              <td class="text-center">0 – 1</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
