<div class="row mb-4">
  <div class="col-md">
    <div class="input-group">
      <input type="text" class="form-control border-0" placeholder="Recherche..." style="width: 250px; flex: none; height: 40px;">
      <div class="input-group-append">
        <button type="button" class="btn btn-default shadow-green">Recherche</button>
      </div>
    </div>
  </div>

  <div class="col-md">
    <button type="button" class="btn btn-default float-right"onClick="location.href='group-create'">Créer</button>
    <button type="button" class="btn btn-default float-right mr-4"onClick="location.href='group-list'">Mes paris</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card card-group">
      <a href="group" style="width: 100%;">
        <div class="card-body">
          <h2 class="card-title mb-4">Title</h2>
          <dl class="row text-gray mb-4">
            <dt class="col-sm-6">Admin</dt>
            <dd class="col-sm-6 text-truncate">KemarLePoulpe</dd>

            <dt class="col-sm-6">Création</dt>
            <dd class="col-sm-6 text-truncate">02.09.2018</dd>

            <dt class="col-sm-6">Nb personnes</dt>
            <dd class="col-sm-6">13</dd>

            <dt class="col-sm-6">Match joué</dt>
            <dd class="col-sm-6">23</dd>
          </dl>
          <div class="card-foot">
            <button type="button" class="btn btn-default float-right">Ajouter</button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-group">
      <a href="group" style="width: 100%;">
        <div class="card-body">
          <h2 class="card-title">Title</h2>
          <dl class="row text-gray mb-4">
            <dt class="col-sm-6">Admin</dt>
            <dd class="col-sm-6 text-truncate">KemarLePoulpe</dd>

            <dt class="col-sm-6">Création</dt>
            <dd class="col-sm-6 text-truncate">02.09.2018</dd>

            <dt class="col-sm-6">Nb personnes</dt>
            <dd class="col-sm-6">13</dd>

            <dt class="col-sm-6">Match joué</dt>
            <dd class="col-sm-6">23</dd>
          </dl>
          <div class="card-foot">
            <button type="button" class="btn btn-default float-right">Ajouter</button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-group">
      <a href="group" style="width: 100%;">
        <div class="card-body">
          <h2 class="card-title">Title</h2>
          <dl class="row text-gray mb-4">
            <dt class="col-sm-6">Admin</dt>
            <dd class="col-sm-6 text-truncate">KemarLePoulpe</dd>

            <dt class="col-sm-6">Création</dt>
            <dd class="col-sm-6 text-truncate">02.09.2018</dd>

            <dt class="col-sm-6">Nb personnes</dt>
            <dd class="col-sm-6">13</dd>

            <dt class="col-sm-6">Match joué</dt>
            <dd class="col-sm-6">23</dd>
          </dl>
          <div class="card-foot">
            <button type="button" class="btn btn-default float-right">Ajouter</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
