<script>
$(document).ready(function () {

  // emmit event
  socket.emit('groupGameList', 1);
  socket.emit('getGroupRanking', 1);

  // receive event
  socket.on('groupGameList', function(groupGameList){


    groupGameList.forEach(function(game){
      $('#groupGameList').append("<tr onclick=\"location.href='bet'\" style='cursor: pointer;'>" +
        "<td>" + game.competition + "</td>" +
        "<td class=\"text-center\">" + game.date + "</td>" +
        "<td>" + game.h_team + "</td>" +
        "<td class=\"text-center\">" + game.h_goal + " – " + game.a_goal + "</td>" +
        "<td class=\"text-right\">" + game.a_team + "</td>" +
        "<td class=\"text-center\">" + "mon paris"+ "</td>" +
        "</tr>"
      );
    });
  });


  socket.on('getGroupRanking', function(getGroupRanking){
    getGroupRanking.forEach(function(rank){
      $('#groupRanking').append("<tr>" +
        "<td>" + rank.username + "</td>"+
        "<td class=\"text-center\">" + rank.points + "</td>" +
      "</tr>"
      );
    });
  });


//alert(test_params({uid: 1, gid: 3}));



});





function test_params(params = new array()){
  var a = "Params : ";
    params.forEach(function(p){
      a.push(p);
    });
console.log(a);
    return a;
}

</script>
<div class="row mb-4">
  <div class="col-md">
    <button type="button" class="btn btn-default" onClick="location.href='group-list'">Retour à la liste</button>
  </div>
  <div class="col-md">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        2018/2019
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <div class="card mb-4 card-green">
      <div class="card-header card-title text-center">
        <h2>Original</h2>
      </div>

      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-6">Participants</dt>
          <dd class="col-sm-6">2</dd>

          <dt class="col-sm-6">BinchBet</dt>
          <dd class="col-sm-6">18</dd>
          <hr/>
          <dt class="col-sm-6">Saison</dt>
          <dd class="col-sm-6">3</dd>

          <dt class="col-sm-6">Date de création</dt>
          <dd class="col-sm-6">Mars 2017</dd>
        </dl>
      </div>
    </div>

    <div class="card">
      <div class="card-header pb-0">
        <h3 class="d-inline-block">Classement</h3>
        <button type="button" class="btn btn-default float-right">Détail</button>
      </div>
      <div class="card-body">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Joueur</th>
              <th class="text-center">Binch</th>
            </tr>
          </thead>
          <tbody id="groupRanking">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header pb-0">
        <h4 class="d-inline-block">Tous les matchs</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover mb-0">
          <thead>
            <tr>
              <th scope="col">Championnat</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Domicile</th>
              <th scope="col" class="text-center">Score</th>
              <th scope="col" class="text-right">Extérieur</th>
              <th scope="col" class="text-center">Mon BB</th>
            </tr>
          </thead>
          <tbody id="groupGameList">

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
