<div class="row mb-4">
  <div class="col-md">
    <div class="input-group">
      <input type="text" class="form-control border-0" placeholder="Recherche..." style="width: 250px; flex: none; height: 40px;">
      <div class="input-group-append">
        <button type="button" class="btn btn-default shadow-green">Recherche</button>
      </div>
    </div>
  </div>

  <div class="col-md">
    <button type="button" class="btn btn-default float-right"onClick="location.href='group-list'">Mes paris</button>
    <button type="button" class="btn btn-default float-right mr-4"onClick="location.href='group-list'">Ajouter</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header pb-2">
        <h4>Nom du groupe</h4>
      </div>
      <div class="card-body pt-0">
        <input type="text" class="form-control w-100" placeholder="Nom du groupe" style="flex: none; height: 40px;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div class="card mb-4">
          <div class="card-header pb-2">
            <h4>Paramètres</h4>
          </div>
          <div class="card-body pt-0">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Public
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Privé
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header pb-2">
        <h4>Ajouter des joueurs</h4>
      </div>
      <div class="card-body pt-0">
        <div class="input-group w-100">
          <input type="text" class="form-control" placeholder="Recherche..." style="width: 85%; flex: none; height: 40px;">
          <div class="input-group-append" style="width: 15%;">
            <button type="button" class="btn btn-default shadow-green w-100">Recherche</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
