<div class="row mb-4">
  <div class="col-md">
    <div class="input-group">
      <script>
      socket.emit('getGroupsOfUser', <%- JSON.stringify(user) %>);

      // receive event
      socket.on('getGroupsOfUser', function(groups){
        groups.forEach(function(group){

          socket.emit('getDataFromGroup', group.id_group, <%- JSON.stringify(user) %>);
          socket.on('getDataFromGroup', function(name,nbrUser,rank,points,nbrMatch,stats){
            $('#group-list').append("<div class=\"row mb-4\">" +
            "<div class=\"col-md-3\">" +
            "<div class=\"card card-lil-stat\">" +
            "<a href=\"/group/" + group.id_group + "\">" +
            "<div class=\"card-body\">" +
            "<h6 class=\"text-muted text-uppercase mt-0\"><small>Groupe</small></h6>" +
            "<h2 class=\"text-truncate\">" + name[0].name + "</h2>" +
            "<h6 class=\"text-muted text-uppercase\"><small>" + nbrUser[0].number + " participants</small></h6>" +
            "</div>" +
            "</a>" +
            "</div>" +
            "</div>" +
            "<div class=\"col-md-2\">" +
            "<div class=\"card card-lil-stat\">" +
            "<div class=\"card-body\">" +
            "<h6 class=\"text-muted text-uppercase mt-0\"><small>Classement</small></h6>" +
            "<h2>" + rank + "</h2>" +
            "<span class=\"badge badge-success\">" + points[0].points + "</span>" +
            "<span class=\"text-muted\">Points</span>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "<div class=\"col-md-7\">" +
            "<div class=\"card card-lil-stat\">" +
            "<div class=\"card-body\">" +
            "<ul class=\"nav\">" +
            "<li class=\"nav-item col-md\">" +
            "<h6 class=\"text-muted text-uppercase\"><small>match(s)</small></h6>" +
            "<h2>" + nbrMatch[0].nbrmatchs + "</h2>" +
            "</li>" +
            "<li class=\"nav-item col-md\">" +
            "<h6 class=\"text-muted text-uppercase\"><small>Parfait</small></h6>" +
            "<h2>" + stats[3].nbrbets + "</h2>" +
            "</li>" +
            "<li class=\"nav-item col-md\">" +
            "<h6 class=\"text-muted text-uppercase\"><small>Différence</small></h6>" +
            "<h2>" + stats[2].nbrbets + "</h2>" +
            "</li>" +
            "<li class=\"nav-item col-md\">" +
            "<h6 class=\"text-muted text-uppercase\"><small>Gagné</small></h6>" +
            "<h2>" + stats[1].nbrbets + "</h2>" +
            "</li>" +
            "<li class=\"nav-item col-md\">" +
            "<h6 class=\"text-muted text-uppercase\"><small>Perdu</small></h6>" +
            "<h2>" + stats[0].nbrbets + "</h2>" +
            "<span class=\"badge badge-danger\">77%</span>" +
            "</li>" +
            "</ul>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>"
            );
          });
        });
      });
      </script>
      <input type="text" class="form-control border-0" placeholder="Recherche..." style="width: 250px; flex: none; height: 40px;">
      <div class="input-group-append">
        <button type="button" class="btn btn-default shadow-green">Recherche</button>
      </div>
    </div>
  </div>

  <div class="col-md">
    <button type="button" class="btn btn-default float-right" onClick="location.href='group-create'">Créer</button>
    <button type="button" class="btn btn-default float-right mr-4" onClick="location.href='group-add'">Ajouter</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md" id="group-list">
  </div>
</div>
<!--
<div class="row mb-4">
<div class="col-md-3">
<div class="card card-lil-stat">
<a href="group">
<div class="card-body">
<div class="card-head">
<h6 class="text-muted text-uppercase mt-0 d-inline-block"><small>Groupe</small></h6>
<h6 class="text-muted text-uppercase mt-0 d-inline-block text-right"><small>02.09.2018</small></h6>
</div>
<h2 class="text-truncate">Un autre</h2>
<h6 class="text-muted text-uppercase"><small>22 participants</small></h6>
</div>
</a>
</div>
</div>
<div class="col-md-2">
<div class="card card-lil-stat">
<div class="card-body">
<h6 class="text-muted text-uppercase mt-0"><small>Classement</small></h6>
<h2>19</h2>
<span class="badge badge-danger">7 </span>
<span class="text-muted">Points</span>
</div>
</div>
</div>
<div class="col-md-7">
<div class="card card-lil-stat">
<div class="card-body">
<ul class="nav">
<li class="nav-item col-md">
<h6 class="text-muted text-uppercase"><small>Matchs</small></h6>
<h2>22</h2>
</li>
<li class="nav-item col-md">
<h6 class="text-muted text-uppercase"><small>Parfait</small></h6>
<h2>0</h2>
<span class="badge badge-success">0%</span>
</li>
<li class="nav-item col-md">
<h6 class="text-muted text-uppercase"><small>Différence</small></h6>
<h2>2</h2>
<span class="badge badge-primary">10%</span>
</li>
<li class="nav-item col-md">
<h6 class="text-muted text-uppercase"><small>Gagné</small></h6>
<h2>3</h2>
<span class="badge badge-warning">13%</span>
</li>
<li class="nav-item col-md">
<h6 class="text-muted text-uppercase"><small>Perdu</small></h6>
<h2>17</h2>
<span class="badge badge-danger">77%</span>
</li>
</ul>
</div>
</div>
</div>
</div> -->
