<div class="row mb-4">
  <div class="col-md">
    <div class="input-group">
      <input type="text" class="form-control border-0" placeholder="Recherche..." style="width: 250px; flex: none; height: 40px;">
      <div class="input-group-append">
        <button type="button" class="btn btn-default shadow-green">Recherche</button>
      </div>
    </div>
  </div>

  <div class="col-md">
    <button type="button" class="btn btn-default float-right"onClick="location.href='group-create'">Créer</button>
    <button type="button" class="btn btn-default float-right mr-4"onClick="location.href='group-list'">Mes paris</button>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-group">
      <a href="group">
        <div class="card-body">
          <h2 class="text-truncate">Mondial</h2>
          <button type="button" class="btn btn-default float-right">Ajouter</button>
        </div>
      </a>
    </div>
  </div>
</div>
