<div class="row mb-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="title">Compétitions</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nom</th>
              <th class="text-center">id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Premier League</td>
              <td class="text-center">7</td>
            </tr>
            <tr>
              <td>Liga</td>
              <td class="text-center">8</td>
            </tr>
            <tr>
              <td>Serie A</td>
              <td class="text-center"></td>
            </tr>
            <tr>
              <td>Bundesliga</td>
              <td class="text-center"></td>
            </tr>
            <tr>
              <td>Lique 1</td>
              <td class="text-center"></td>
            </tr>
            <tr>
              <td>Champions League</td>
              <td class="text-center"></td>
            </tr>
            <tr>
              <td>Europa League</td>
              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
