// =============== VARIABLE COLOURS ===============
@gray-darker:  lighten(#000, 13.5%);
@gray-dark:    lighten(#000, 20%);
@gray:         lighten(#000, 33.5%);
@gray-light:   lighten(#000, 46.7%);
@gray-lighter: lighten(#000, 60.2%);

@green-dark: darken(@green, 2%);
@green: #3FB390;
//@green: #06A040;
//@green: #52C370;
@green-light: lighten(@green, 40%);
@green-lighter: lighten(@green, 60%);


@body: darken(#fff, 3%);

// =============== FONTS ===============
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900";

// =============== HTML BALISE ===============

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: @body;
  //color: lighten(@gray, 10%);
  color: @gray-light;
}
h1,h2,h3,h4,h5,h6{
  color: @gray;
}
a{
  &:hover{
    text-decoration: none;
    color: @gray;
  }
}
hr{
  margin: 30px 0;
}
h1{
  font-weight: bold;
}

// =============== CLASS ===============

// ===== General =====
.container-fluid{
  margin: 0;
  padding: 0;
}
#content{
  width: 85%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
.space, .space-2{
  border: none;
  margin: 0;
}
.space{
  height: 50px;
}
.space-2{
  height: 100px;
}
.btn-default{
  background-color: @green-dark;
  color: @green-lighter;
  height: 40px;
  font-size: 15px;
  padding: 0 20px;
  transition: 0.3s;
  &:hover, &.active{
    background-color: darken(@green, 7%);
    color: @green-lighter;
    transition: 0.3s;
  }
}
.shadow-green{
  box-shadow: 0 0 7px lighten(@green, 20%);
}
.text-green{
  color: @green;
}
.text-gray{
  color: @gray-light;
}
.link-green a{
  color: @green;
  &:hover{
    color: lighten(@green, 15%);
  }
  &.active{
    text-decoration: underline;
  }
}
input[type=text]{
  background-color: @green-lighter;
  color: @gray-light;
}
//remove outline on input
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// ===== sidebar =====
nav.nav{
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: @green;
  //background-image: linear-gradient(to top left, @green, lighten(@green, 5%));
  //background-image: linear-gradient(to top left, @green, #47C933);
  border: 0;
  border-radius: 0;
  color: @green-light;
  font-weight: 200;

  .sidebar-header, .sidebar-body,
  .sidebar-footer{
    position: absolute;
    width: 100%;
    h2{
      color: @green-light;
    }
  }
  .sidebar-header{
    background-color: @green-dark;
    height: 10%;
  }
  .sidebar-title{
    padding: 30px 30px 10px 30px;
  }
  .sidebar-body{
    overflow: auto;
    top: 10%;
    height: 75%;
  }
  .sidebar-footer{
    background-color: @green-dark;
    bottom: 0;
    padding: 20px 20px;
    height: 15%;
  }
  li{
    border-radius: 0;
    margin: 0;
    a{
      padding-left: 30px;
      line-height: 30px;
      color: @green-light;
      transition: 0.3s; // en enlevant la souris
      &:hover{
        transition: all 0.1s;
        color: @green-lighter;
        border-radius: 0;
      }
    }
  }
  .active, .active:hover{
    color: @green-lighter;
    background-color: @green-dark;
    border-radius: 0;
  }
  #imgNav{
    width: 60px;
    margin: 0 auto;
  }
}
.nav-pills{
  .nav-item .active{
    background-color: @green;
    color: @green-lighter;
  }
  a{
    color: @green;
    &:hover{
      color: lighten(@green, 15%);
    }
  }
}

// ===== Footer =====
.sidebar-footer{
  a{
    font-size: 0.7em;
    color: @green-light;
    text-decoration: underline;
    &:hover{
      color: @green-lighter;
    }
  }
}

// ===== Login =====
input[type=submit]{
  background-color: @green-dark;
  color: @green-lighter;
  border: none;
  border-radius: 0;
  height: 40px;
  font-size: 15px;
  padding: 0 20px;
  transition: 0.3s;
  &:hover{
    background-color: @green-lighter;
    color: @green-dark;
    transition: 0.3s;
  }
}

// ===== Account =====
#account{
  margin: auto;
  padding: 20px;
  width: 40%;
  margin-top: 50vh;
  transform: translateY(-60%);
  table{
    margin: 40px 0;
    td{
      border: none;
      color: @green;
    }
    strong{
      color: black;
    }
  }
}
#success{
  width: 500px;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-100%);
}


// ===== Card =====
.card, .card-header, .card-body,
.card-footer{
  border: none;
  width: 100%;
  background-color: white;
}
.card{
  border-radius: 2px;
}

.card-green{
  .card-header, .card-body, .card-footer{
    background-color: @green;
    color: @green-light;
    h1, h2, h3, h4, h5, h6{
      color: @green-lighter !important;
    }
    small{
      color: @green-light;
    }
  }
}
.card-title{
  padding: 90px 1.25rem;
}
.card-lil-stat{
  min-height: 140px;
}
.card-group{
  height: 290px;
}
.card-link{
  color: @green;
  &:hover{
    color: @green-light;
  }
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

// ===== Table =====
.breadcrumb{
  background-color: transparent;
  a{
    color: @green;
  }
}

// ===== Table =====
.table{
  thead th{
    border-bottom: none;
  }
  td{
    vertical-align: middle;
  }
}

// ===== News =====
.news-block{
  height: 400px;
}
.news, .news-block{
  .title, strong{
    color: @gray-dark;
  }
  .title{
    font-weight: 900;
    font-size: 3em;
  }
  .subtitle{
    font-weight: 400;
  }
  small{
    font-weight: 300;
  }
  p{
    font-size: 1em;
    font-weight: 300;
  }
}
