// =============== VARIABLE COLOURS ===============
@gray-darker:  lighten(#000, 13.5%);
@gray-dark:    lighten(#000, 20%);
@gray:         lighten(#000, 33.5%);
@gray-light:   lighten(#000, 46.7%);
@gray-lighter: lighten(#000, 60.2%);

@green-dark: darken(@green, 2%);
@green: #3FB390;
//@green: #06A040;
//@green: #52C370;
@green-light: lighten(@green, 40%);
@green-lighter: lighten(@green, 60%);


@body: darken(#fff, 3%);

// =============== FONTS ===============
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900";

// =============== HTML BALISE ===============

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
  background-color: @body;
  //color: lighten(@gray, 10%);
  color: @gray-light;
}
h1,h2,h3,h4,h5,h6{
  color: @gray;
}
a{
  &:hover{
    text-decoration: none;
    color: @gray;
  }
}
hr{
  margin: 30px 0;
}
h1{
  font-weight: bold;
}

// =============== CLASS ===============

// ===== General =====
.container-fluid, .row{
  margin: 0;
  padding: 0;
}
#content{
  width: 85%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
.space{
  border: none;
  margin: 0;
  height: 50px;
}
.btn-default{
  background-color: @green-dark;
  color: @green-lighter;
  height: 40px;
  font-size: 15px;
  padding: 0 20px;
  transition: 0.3s;
  &:hover{
    background-color: darken(@green, 7%);
    color: @green-lighter;
    transition: 0.3s;
  }
}
.shadow-green{
  box-shadow: 0 0 7px lighten(@green, 20%);
}
.link-green{
  color: @green;
  &:hover{
    color: lighten(@green, 15%);
  }
}

// ===== Navbar =====
nav.nav{
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: @green;
  //background-image: linear-gradient(to top left, @green, lighten(@green, 5%));
  //background-image: linear-gradient(to top left, @green, #47C933);
  47C933
  border: 0;
  border-radius: 0;
  color: @green-light;
  font-weight: 200;
  .sidebar-header{
    padding: 30px 30px;
    background-color: @green-dark;
    h2{
      color: @green-light;
    }
  }
  .sidebar-title{
    padding: 30px 30px 10px 30px;
  }
  .sidebar-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
  }
  li{
    border-radius: 0;
    margin: 0;
    a{
      padding-left: 30px;
      line-height: 30px;
      color: @green-light;
      transition: 0.3s; // en enlevant la souris
      &:hover{
        transition: all 0.1s;
        color: @green-lighter;
        border-radius: 0;
      }
    }
  }
  .active, .active:hover{
    color: @green-lighter;
    background-color: @green-dark;
    border-radius: 0;
  }
  #imgNav{
    width: 60px;
    margin: 0 auto;
  }
}
input[type=text]{
  background-color: @green-lighter;
  color: @gray-light;
}
//remove outline on input
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// ===== Login =====
input[type=submit]{
  background-color: @green-dark;
  color: @green-lighter;
  border: none;
  border-radius: 0;
  height: 40px;
  font-size: 15px;
  padding: 0 20px;
  transition: 0.3s;
  &:hover{
    background-color: @green-lighter;
    color: @green-dark;
    transition: 0.3s;
  }
}

// ===== Account =====
#account{
  margin: auto;
  padding: 20px;
  width: 40%;
  margin-top: 50vh;
  transform: translateY(-60%);
  table{
    margin: 40px 0;
    td{
      border: none;
      color: @green;
    }
    strong{
      color: black;
    }
  }
}
#success{
  width: 500px;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-100%);
}


// ===== Card =====
.card{
  background-color: white;
  border-radius: 2px;
  border: none;
  width: 100%;
  &.card-lil-stat{
    min-height: 140px;
  }
}
.card-profile{
  background-color: @green;
  color: @green-light;
  .card-title{
    height: 200px;
    width: 100%;
    padding: 90px 1.25rem;
    h2{
      color: @green-light;
    }
  }
}
.card-news{
  height: 500px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

// ===== Table =====
.breadcrumb{
  background-color: transparent;
  a{
    color: @green;
  }
}


// ===== Table =====
.table{
  thead th{
    border-bottom: none;
  }
  td{
    vertical-align: middle;
  }
}
