<script>
$(document).ready(function () {

  // emmit event
  socket.emit('getNewsList', 1);

  // receive event
  socket.on('getNewsList', function(newsList){

    newsList.forEach(function(news){

      console.log(news.title);

      $('#newsList').append("<div class='col-md-4 mb-4'>"+
      "<div class='card news-block'>" +
      "<div class='card-header pb-0'>" +
      "<h2 class='title'>" + news.title + "</h2>" +
      "<h5 class='subtitle'>" + news.subtitle + "</h5>" +
      "</div>" +
      "<div class='card-body'>" +
      "<div class='card-text text-justify'>" +
      "<p>" + news.text + "</p>" +
      "</div>" +
      "</div>" +
      "<div class='card-footer'>" +
      "<h6 class='text-muted text-uppercase d-inline-block'><small>" + news.date + "<small></h6>" +
      "<button type='button' class='btn btn-default float-right' onClick=\"location.href='http://localhost:8080/newss'\">Lire en entier</button>" +
      "</div>" +
      "</div>" +
      "</div>"
    );

  });
});
});
</script>
<div class="row" id="newsList">
</div>
