<script>
$(document).ready(function () {

  // emmit event
  socket.emit('getNews', 1);

  // receive event
  socket.on('getNews', function(news){
    $(".news .title").html(news.title);
    $(".news .subtitle").html(news.subtitle);
    $(".news #author").html("by " + news.author);
    $(".news #date").html(news.date);
    $(".news .card-text").html(news.text);
  });

  var doc_height = $(window).height();
  var doc_width = $(window).width();

  btn_init(doc_width, doc_height);

  $(window).scroll(function () {
    scroll = $(window).scrollTop();

    btn_appear(scroll + doc_height*75/100, doc_height);
  });
});

function btn_init(w, h){
  $('#back-top').hide();

  $('#back-top').css('left', w*85/100 );
  $('#back-top').css('top', h*85/100);
  $('#back-top').css('z-index', '1');
}

function btn_appear(s, h) {
  if (s < h) {
    $('#back-top').fadeOut('slow');
  } else {
    $('#back-top').fadeIn('slow');
  }
}


function back_top(){
  $('html, body').animate({scrollTop:0}, 300);
}


</script>

<button type="button" id="back-top" class="btn btn-default position-fixed" onClick="back_top();">On monte</button>

<div class="row mb-4">
  <div class="col-md">
    <button type="button" class="btn btn-default float-right"onClick="location.href='news-list'">Retour aux news</button>
  </div>
</div>

<div class="row">
  <div class="col-md-5 offset-md-2">
    <div class="news">
      <h1 class="title"></h1>
      <h4 class="subtitle"></h4>
      <hr class="space-2">
      <h6 class="mb-3"><strong id="author"></strong></h6>
      <h6 class="mb-3"><small id="date"></small></h6>
      <div class="card-text"></div>
      <hr>
      <div class="news-conclusion">
      </div>
    </div>
  </div>
</div>
