<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card news-block">
      <div class="card-header">
        <h2 class="title">Bienvenue.</h2>
        <h5 class="subtitle">BinchBet ouvre ses portes, enfin.</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          Fusce ultricies eleifend enim, sit amet posuere ligula aliquam ut. Donec mattis diam quis ex molestie, ut volutpat neque rhoncus. Donec ullamcorper suscipit lorem dapibus ornare. Aliquam erat volutpat. Donec auctor, arcu ut porttitor rhoncus, nulla purus sollicitudin ante, quis faucibus velit ipsum et justo.
        </p>
      </div>
      <div class="card-footer">
        <h6 class="text-muted text-uppercase d-inline-block"><small>02.09.2018<small></h6>
          <button type="button" class="btn btn-default float-right" onClick="location.href='http://localhost:8080/newss'">Lire en entier</button>
      </div>
    </div>
  </div>
</div>
